

<!--  Name: <input type="text">-->
<!--  Id: <input type="number">-->
<!--  Phone: <input type="number">-->
<!-- / <form [formGroup]="newFriendsForm" (ngSubmit)="onSubmit(newSessionForm.value)">-->
<!--    <div class="clientName">-->
<!--      client name:<input formControlName="name" #names type="text" pattern="[a-zA-Z]*">-->
<!--    </div>-->
<!--    <div class="clientAge">-->
<!--      client Age:  <input formControlName="age" #ages type="number">-->
<!--    </div>-->
<!--    <div class="clientId">-->
<!--      client id: <input formControlName="id" #ids type="number">-->
<!--    </div>-->
<!--    <div class="notes">-->
<!--      Notes: <input formControlName="id" #ids type="number">-->
<!--    </div>-->

<!--  </form>-->
<!--</div>-->

